# you have to pick the specific files you want to track
config/*
!config/nvim
.claude/debug
.claude/file-history
.claude/history.jsonl
.claude/projects
.claude/session-env
.claude/shell-snapshots
.claude/statsig
.claude/todos
.claude/local
.vim/undo
.vim/plugged
config/nvim/lazyvim.json
config/nvim/lazy-lock.json
