## nano syntax highlighting
include "~/.dotfiles/.nano/nanorc.nanorc"
include "~/.dotfiles/.nano/default.nanorc"
#include "~/.dotfiles/.nano/conf.nanorc"
#include "~/.dotfiles/.nano/config.nanorc"
include "~/.dotfiles/.nano/configfiles.nanorc"
include "~/.dotfiles/.nano/ruby.nanorc"
include "~/.dotfiles/.nano/c.nanorc"
include "~/.dotfiles/.nano/python.nanorc"
include "~/.dotfiles/.nano/sh.nanorc"
include "~/.dotfiles/.nano/css.nanorc"
include "~/.dotfiles/.nano/html.nanorc"
include "~/.dotfiles/.nano/markdown.nanorc"

## Constantly display the cursor position in the statusbar.  Note that 
## this overrides "quickblank".
set const  
