"*":
  "advanced-open-file":
    fuzzyMatch: true
  "asciidoc-preview":
    scrollMode: false
  "autocomplete-python":
    pythonPaths: "/Users/juliankahnert/.pyenv/versions/$PROJECT/bin/python;/usr/local/bin/python3"
    showTooltips: true
    useKite: false
    useSnippets: "required"
  autosave: {}
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "fuzzy-finder"
      "open-on-github"
      "synced-sidebar"
      "linter"
      "linter-pycodestyle"
      "linter-ui-default"
    ]
    fileEncoding: "utf8"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__pycache__"
      ".ipynb_checkpoints"
      ".venv"
    ]
    openEmptyEditorOnStart: true
    packagesWithKeymapsDisabled: [
      "spell-check"
      "markdown-preview"
      "fuzzy-finder"
      "highlight-selected"
      "advanced-open-file"
      "todo-show"
      "symbols-view"
      "autocomplete-plus"
      "bracket-matcher"
      "command-palette"
      "git-diff"
      "grammar-selector"
      "notifications"
      "open-on-github"
      "tree-view"
      "git-plus"
      "linter"
      "script"
      "latex"
      "pdf-view"
      "autocomplete-python"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "InputMono-Thin"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: false
    softWrap: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
    themes: [
      "one-dark-ui"
      "zenburn"
    ]
  "exception-reporting":
    userId: "63aff982-a3bd-b4e8-17ff-fb49af5b9aa7"
  "fold-functions":
    autofoldGrammars: [
      "Python"
    ]
    skipAutofoldWhenOnlyOneFunction: true
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-diff": {}
  "git-plus":
    general:
      analytics: false
  "highlight-selected": {}
  latex:
    enableShellEscape: true
    loggingLevel: "error"
    opener: "pdf-view"
  linter: {}
  "linter-pycodestyle":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    tabSizing: "Minimum"
  "one-light-ui":
    fontSize: 10
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view":
    fitToWidthOnOpen: true
  pomodoro:
    playTicks: false
  "python-indent":
    hangingIndentTabs: 2
  script:
    stopOnRerun: true
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    knownWords: [
      "Spracherkenner"
      "Spracherkennern"
      "audiologisch"
      "Modulationsfrequenzen"
      "Mittenfrequenz"
      "Imaginärteil"
      "Imaginärteil"
      "Mittenfrequenzen"
      "randomisiert"
      "Skalarprodukt"
      "Amplitudenmodulation"
      "vernachlässigbar"
      "Testcase"
      "Credentials"
    ]
    locales: [
      "de-DE"
    ]
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tabs-to-spaces":
    onSave: "untabify"
  "todo-show":
    showInTable: [
      "Type"
      "Text"
      "Line"
      "File"
    ]
    sortBy: "Line"
    statusBarIndicator: true
  "tool-bar":
    position: "Left"
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: true
