"*":
  "advanced-open-file":
    fuzzyMatch: true
  "autocomplete-python":
    pythonPaths: "$PROJECT/.venv/bin/python;/usr/local/bin/python3"
    useKite: false
    useSnippets: "required"
  autosave: {}
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "fuzzy-finder"
    ]
    fileEncoding: "utf8"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__pycache__"
      ".ipynb_checkpoints"
      ".venv"
    ]
    openEmptyEditorOnStart: true
    packagesWithKeymapsDisabled: [
      "spell-check"
      "markdown-preview"
      "fuzzy-finder"
      "autocomplete-python"
      "highlight-selected"
      "advanced-open-file"
      "todo-show"
      "symbols-view"
      "autocomplete-plus"
      "bracket-matcher"
      "command-palette"
      "git-diff"
      "grammar-selector"
      "notifications"
      "open-on-github"
      "tree-view"
      "git-plus"
      "linter"
      "script"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "SourceCodePro-Light"
    fontSize: 13
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: false
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
    tabType: "soft"
    themes: [
      "one-dark-ui"
      "zenburn"
    ]
  "exception-reporting":
    userId: "63aff982-a3bd-b4e8-17ff-fb49af5b9aa7"
  "fold-functions":
    autofoldGrammars: [
      "Python"
    ]
    skipAutofoldWhenOnlyOneFunction: true
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-diff": {}
  "git-plus":
    general:
      analytics: false
  "highlight-selected": {}
  linter:
    errorPanelHeight: 24
  "linter-pycodestyle":
    executablePath: "/usr/local/bin/pycodestyle"
    ignoreErrorCodes: [
      "E501"
    ]
    maxLineLength: 80
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "one-light-ui":
    fontSize: 10
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "python-indent":
    hangingIndentTabs: 2
  script:
    stopOnRerun: true
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    knownWords: [
      "Spracherkenner"
      "Spracherkennern"
      "audiologisch"
      "Modulationsfrequenzen"
      "Mittenfrequenz"
      "Imaginärteil"
      "Imaginärteil"
      "Mittenfrequenzen"
      "randomisiert"
      "Skalarprodukt"
    ]
    locales: [
      "de-DE"
    ]
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tabs-to-spaces":
    onSave: "untabify"
  "todo-show":
    showInTable: [
      "Type"
      "Text"
      "Line"
      "File"
    ]
    sortBy: "File"
    statusBarIndicator: true
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: true
