# Find current grammer (https://discuss.atom.io/t/how-to-find-the-current-scope/2223/4):
# Go to: View > Developer > Toggle Developer Tools > Console
# and paste: atom.workspace.getActiveTextEditor().getGrammar().scopeName

# global shortcuts
'atom-text-editor':
  'alt-shift-cmd-left': 'window:focus-pane-on-left'
  'alt-shift-cmd-right': 'window:focus-pane-on-right'
  'alt-x': 'command-palette:toggle'
  'f6': 'spell-check:toggle'
  'cmd-t': 'application:new-file'
  'cmd-r': 'editor:toggle-line-comments'
  'ctrl-c f': 'advanced-open-file:toggle'
  'ctrl-c n': 'tree-view:toggle'
  'ctrl-c s': 'symbols-view:toggle-file-symbols'
  'ctrl-c t': 'todo-show:find-in-workspace'
  'ctrl-c g': 'go-to-line:toggle'

# window specific
'.advanced-open-file atom-text-editor':
  'tab': 'advanced-open-file:autocomplete'

# language specific
## python
'atom-text-editor[data-grammar~="python"]':
  'ctrl-c r': 'autocomplete-python:rename'
  'cmd-b': 'script:run'

## latex
'atom-text-editor[data-grammar~="latex"]':
  'cmd-b': 'latex:build'
  'cmd-alt-b': 'latex:sync'

## markdown
'atom-text-editor[data-grammar~="gfm"]':
  'cmd-b': 'markdown-preview:toggle'
