# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

# global shortcuts
'atom-text-editor':
  'alt-x': 'command-palette:toggle'
  'f6': 'spell-check:toggle'
  'cmd-t': 'application:new-file'
  'cmd-r': 'editor:toggle-line-comments'
  'ctrl-c f': 'advanced-open-file:toggle'
  'ctrl-c n': 'tree-view:toggle'
  'ctrl-c s': 'symbols-view:toggle-file-symbols'
  'ctrl-c t': 'todo-show:find-in-workspace'
  'ctrl-c g': 'go-to-line:toggle'

# window specific
'.advanced-open-file atom-text-editor':
  'tab': 'advanced-open-file:autocomplete'

# language specific
## python
'atom-text-editor[data-grammar~="python"]':
  'ctrl-c r': 'autocomplete-python:rename'

## latex
'atom-text-editor[data-grammar~="latex"]':
  'cmd-b': 'latex:build'

## markdown
'atom-text-editor[data-grammar~="gfm"]':
  'cmd-b': 'markdown-preview:toggle'
