packages: [
  "autocomplete-python"
  "fold-functions"
  "language-ini"
  "linter"
  "linter-pep8"
  "linter-python-pep8"
  "markdown-preview-plus"
  "multi-cursor"
  "package-sync"
  "python-indent"
  "zenburn"
]
