packages: [
  "asciidoc-preview"
  "auto-detect-indentation"
  "autocomplete-python"
  "file-icons"
  "fold-functions"
  "git-plus"
  "highlight-selected"
  "language-asciidoc"
  "language-ini"
  "language-latex"
  "language-matlab"
  "language-swift"
  "latex"
  "linter"
  "linter-pycodestyle"
  "multi-cursor"
  "package-sync"
  "pdf-view"
  "pretty-json"
  "python-indent"
  "script"
  "ssh-config"
  "todo-show"
  "tomorrow-night-eighties-syntax"
]
