packages: [
  "atom-ide-ui"
  "auto-detect-indentation"
  "autocomplete-python"
  "busy-signal"
  "file-icons"
  "fold-functions"
  "git-plus"
  "highlight-selected"
  "intentions"
  "language-ini"
  "language-latex"
  "language-matlab"
  "language-swift"
  "latex"
  "linter"
  "linter-pycodestyle"
  "linter-ui-default"
  "multi-cursor"
  "package-sync"
  "pdf-view"
  "pretty-json"
  "python-indent"
  "script"
  "ssh-config"
  "todo-show"
  "tomorrow-night-eighties-syntax"
]
